body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#elementoParaEstilizar {
    border: 1px solid #333;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    align-items: center;
}